.body{
overflow-x: hidden;
}

#input1{
 display: flex;
 flex-direction: column;

}
#TextArea{
    display: flex;

    flex-direction: column;

}
#main_form_styl{
    padding: auto;
}

#account_section{
    margin-top: 20px;
}
#input1 input{
    height: 24px;
    border: 1px solid rgb(50, 50, 73);

}
#select_account{
    width: 201px;
    height: 24px;
}
#fieldset_account{

}
#col_account{
    background: #f7f7f7;
}
#check_account{

}
#form_bg{
    background: #f7f7f7;
}
form #form_group{
    width: 43%;
    background: #f7f7f7;
    padding: 21px;
    border-radius: 5px;
    position: relative;
}
form #form_group:before{
    background: #f7f7f7;
    content: "Your Details";
    padding: 5px;
    font-size: 14px;
    color: black;
    border-radius: 3px;
    position: absolute;
    top: -15px;
    left: 30px;
}
form #form_control{
    width: 50%;
    margin-bottom: 10px;
}
form #inside{
    width: 50%;
    bottom: 110px;
    margin-top: 40px;
    position: relative;
    float: right;
}

form #checkbox,
form #radio,
form #dropdown{
    margin: 5px 0;
}
form #checkbox label{
    display: block;
    margin-bottom: 5px;
}
form #radio label{
    display: inline-block;
    margin-right: 20px;
}
form #radio label:last-child{
    margin-right: 0;
}
form #dropdown{
    background:#fff;
    font-size: 14px;
}
#col_12{
height: 170px;
border: 1px solid #d3cece;
border-radius: 2px;
}
#control_label{
    width: 100% !important;
}
#job_title{
    margin-top: 10px;
}
#job_title_label{
    font-size: 14px;
    font-weight: 500;
}
#job_title_search{
    height: 26px;
}

/* --------------------form------------- */

#resume_form{
   
    height: 100px;
    border: 1px solid black;
}



#secForm{
    margin-top: 10px;

}
#secForm_row{
    margin-top: 10px;
}

#form2{
    width: 100%;
    height: 250px;
}
#form_control2{
    width: 100%;
    HEIGHT: 28px;
}
#form_bg2{
    background: #f7f7f7;
    
}
#form_group2{
width: 100% ;
height: 235px;
}
#form_group2:before{
    padding: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    position: absolute;
    top: -15px;
    left: 30px;
}
#control_label2{
    margin-bottom: 10px;
}
#inside2{
    border-radius: 7px;
    width: 100%;
    height: 181px;
    margin-top: 40px;
    position: relative;
    border: 1px solid #b9a9a9 !important;
}
#inside2:before{
    content: "Your Preferences";
    padding: 5px;
    background: #f7f7f7;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 30px;
    top: -12px;
}

#radio,
#dropdown{
    margin: 5px 50px;
}
#checkbox label{
    display: block;
    margin-bottom: 5px;
}
#radio label{
    display: inline-block;
    margin-right: 20px;
}
#radio label:last-child{
    margin-right: 0;
}
#dropdown{
    background:#fff;
    font-size: 14px;
}
#form_list_input{
    display: flex;
    padding: 5px;
    flex-direction: column;
    float: right;
}
#form_list_input input{
    width: 75%;
    height: 20px;
    
}
#form_inside_list{
    display: grid;
    line-height: 2;
}
#form_list_input2{
     float: right;
     display: flex;
}

#postselect{
    display: flex;
    flex-direction: column;
}

#postselectText{
    display: flex;
    flex-direction: column;
}
.formbuttonsection{
       margin-top: 10px;
        display: flex;
        justify-content: center;
}
.formbuttonsection button{
    width: 179px;
    height: 40px;
    background: #235789;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 1px solid white;
    border-radius: 19px;
}

#input{
    margin: -13px;
    height: 26px;
    margin-top: -7px;
    width: 103%;
}

#form_inside{
    display: flex;
}
#form_inside2{
    float: left;
}
#radio_label input{
    margin-right: 8px !important;
    
}

@media screen and (max-width:767px) {
    #inside2{
        height: 210px;
    }
    #form_bg2{
        height: 480px;
    }
}

/* -------------------------sstart------------ */

#resume_1{
    margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#col_resume{
    padding: 14px;
  background: #f7f7f7;
  border-radius: 8px;


}

#col_resume::before{
    position: relative;
    content: "availability (you must select at least one)";
    background-color:#bbb9b9;
    top: -24px;
    
}
#resume_input input{
    margin-left: 5px;

}
#resume_input label{
    margin-left: 5px;

}
#resume_input{
    background-color:#f7f7f7
}

#col_resume_post::before{
    position: relative;
    content: "posting";
    background-color:#bbb9b9;
    top: -24px;
}
#col_resume_post{
    padding: 14px;
    background: #f7f7f7;
}


#resume_post{
        display: flex;
    justify-content: center;
    align-items: center;
}
#resume_input_post{

}

#rsume_post_2{
    background: #f7f7f7;
    height: 75px;

}

#resume_input_post input{
    margin-top: 15px;
}

#property_form_fields{
    background: #f7f7f7;
    height: 500px;
    width: 78%;
    margin-top: 8px;
}
#property_form_fields1{
}

#fields_search{
    padding: 10PX;
    display: flex;
    flex-direction: column;
}
#fields_search input{
    width: 50%;
    margin-top: 5px;
    border: none;
}
#fields_select{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;

}
#fields_select select{
    margin-top: 5px;
    WIDTH: 199px;
    BORDER: none;
}
#fields_checkbox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;

}
#fields_checkbox input{
    margin-top: 5px;

}

#list_pro{
    margin-top: 19px;
    border: none;
    width: 168px;
}
#pro_inp_2{
    margin-top: 20px;
}

@media screen and (max-width:992px) {
    #property_form_fields{
        background: #f7f7f7;
        height: 450px;
        width: 81%;
        margin-top: 8px;
    }
    
}

.form_content{
  
}

.form_pro_sec::before{
    content: "open house dates";
    position: relative;
    top: -12px;
    left: 20px;
    background: #f7f7f7;
}
.form_pro_sec{
    border: 1px solid rgb(209, 204, 204);
    margin-top: 10px;
    border-radius: 8px;
    

}

.form_pro_sec select{
    width: 120px;
    margin-left: 19px;
    border: none;

}
.form_pro_sec1{
    align-items: center;
    height: 55px;
    padding: 25px;
    display:flex ;
}

.form_ooo{
    display: flex;
    flex-direction: column;
}
form #form_group_sec2{
    width: 30%;
    background: #f7f7f7;
    border-radius: 5px;
    position: relative;
}

#house_wan_pos{
    padding: 12px;
    margin-top: 15px;
    width: 79%;
    background: #f7f7f7;

}

#house_wan_pos::before{
    content: "posting";
    position: top;
    position: relative;
    top: -22px;
    left: 8px;
    background: #f7f7f7;
}

#Forsale_form{
    background: #f7f7f7;
    width: 81.5%;
}
#Forsale_form_row{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

#Forsale_form::before{
    position: relative;
    content: "posting";
    top: -14px;
    background: transparent;
    background: #f7f7f7;

    

}

#Forsale_col{
    padding: 18px;
   
}

#Forsale_col select{
    width:190px;
    border: none;
}

#Forsale_col input{
    border: none;
}

#ForsaleAuto_wheel_row{

    display: flex;
    justify-content: center;
    align-items: center;
}

.ForsaleAuto_wheel{
    margin-top: 15px;
    background: #f7f7f7;

 width: 81.5%;
 border: 1px solid black;

}

#ForsaleAuto_wheel_col select{
    width: 151px;
}
#ForsaleAuto_wheel_col{
    padding: 40px;
}
.ForsaleAuto_wheel::before{
    content: "posting details";
    position: relative;
    top:-14px ;
    background: #f7f7f7;

}