.Featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.FeaturedItem{
    margin: 3px;
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow:0px 0px 11px -1px #000000 ;
    box-shadow:0px 0px 11px -1px #000000 ;
}
.FeaturedTitle{
    font-size: 20px;
}
.FeaturedMoneyConatiner{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.FeaturedMoney{
    font-size: 30px;
    font-weight: 600;
}
.FeaturedMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.FeaturedIcon{
    font-size: 14px;
    margin-left: 15px;
    color: green;
}
.FeaturedIcon.negative{
    color: red;
}
.FeaturedSub{
    font-size: 15px;
    color: gray;
}

@media screen and (max-width:992px) {
    .Featured{
        display: block !important;
        
    }
    
}