#header{
    height: 45px;
    background-color: #235789;
    padding: 6px;
    border-bottom: 1px solid white;
    
}
#name_span a{
    clip-path: circle(50% at 50% 50%);
    border-radius: 10px;
    background: white;
    color: inherit;
    text-decoration: none;
    font-size: 17px;
}
.app{
    padding: 20px;
}
#arrow{
    color: white;
    font-size: 18px;

}

#header_rightside{
  text-align: end !important;
 
}
#header_rightside_text a{
    text-decoration: none;
    color: white;
}
#select_option{
    width: 22%;
    height: 26px;
    border-radius: 15px;
}
#select_option3{
    width: 28%;
    height: 26px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    #select_option{
        width: 40%;
    }
    #header{
        height: 200px;
    }
    #arrow{
        visibility: collapse;
    
    }
    #select_option3{
        width: 40%;
    }
    #head_name{
        flex-direction: column;
        display: flex;
        flex: 0 0 auto;
        width: 50%;
    }
   
}
@media screen and (max-width: 320px) {
    #select_option{
        width: 100%;
    }
    #header{
        height: 200px;
    }
    #arrow{
        visibility: collapse;
    
    }
    #select_option3{
        width: 100%;
    }
   
}