
.container {
  padding: 0 2rem;
}
.t1{
  margin-top: -550px !important;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.logo_img{
  width: 130px;
  margin-top: 15px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
/* --------------------------------------------rehman code----------------------------------------- */
/* ------------------------------start here---------------------------------------- */

.Head{
  font-weight:600;
  text-align: center;
  color: white;
  /* background: #235789; */
  background: linear-gradient(to right top, #235789, #2b5f90, #326697, #3a6e9f, #4176a6);
  display: flex;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  height: 30px;
  letter-spacing: 3px;
  box-shadow: 0px 10px 15px -17px rgba(0,0,0,0.1);

  
}
.comhead{
  background: linear-gradient(to right top, #235789, #2b5f90, #326697, #3a6e9f, #4176a6);
  font-weight: 400;
  box-shadow: 0px 10px 15px -17px rgba(0,0,0,0.1);
  text-align: center;
  color: white;
  /* background: #235789; */
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;


    
}
.comlist{
  font-size: 12px;
  font-weight: 500;
 color: rgb(61, 61, 61);
 list-style: none;
 border-bottom: 1px solid grey;
 cursor: pointer;
 position: relative;
 right: 28px;
 font-family: 'Poppins', sans-serif;

}
.comlist:hover{
  background-color: rgb(179, 178, 178);
}
.img_logo{
  width: 110px;
}
/* .calendar{
      text-align: -webkit-center;
     width: 100%;
} */

#form_input a{
  text-align: center !important;
  list-style: none !important;
  color: white;
  text-decoration: none !important;
  font-size: 18px !important;

}    
#form_input a:hover{
  color: white;
}
#form_input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
}


@media screen and (max-width:992px) {

  .calendar{
     width: 100%;
}
#form_input input{
    width: 60%;
}
#form_input{
  display: flex;
  justify-content: center;
}
#homesidebar{
  width: 100% !important;
}



}
@media screen and (max-width:1200px) {
  #form_input input{
    width: 172px;
  }
  
}

#homecat1{
 line-height: 2;
  display: flex;
  flex-direction: row;
}
#homecat1 ul{
  line-height: 2 !important;
}

.home_select{
 width: 100%;
 height: 30px;
 border-radius: 6px;
 overflow-y: auto;
}
.home_select_div{
  width: 134px;
  line-height: 2;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;

}
.home_ul{
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  right: 36px;
  margin-top: 15px;
}

.home_ul a:hover{
  border: 0.3px solid rgb(120, 171, 248);
}


.homesidebar{
  border-radius: 6px;
  border: none !important;
}
.homesidebar:focus{
  border: none!important;
}
.homesidebar:hover{
  border: none!important;
}

#siderSearch button{
  border: none;
  background: transparent;

}


.react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
    box-sizing: border-box;
}
.react_calendar{
    /* width: 350px; */
    line-height: 1 !important;
    font-size: 9px !important;
    max-width: 100%;
    background: white;
    /* border: 1px solid #a0a096; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* line-height: 1.125em; */
}

#footer{
  background: #235789;
}
.clfooter_home li{
  list-style: none;
  font-weight: 600 !important;

}

.clfooter_home{
  display: flex;
  margin-bottom: 0;
  justify-content: center;
}
.clfooter_home li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.home_row{
  width: 100%;
}
#footer{
  margin-top: 1px;
}
@media screen and (max-width:992px) {
  .list_001{
  
    display: flex;
   
  }
  .list_001 ul li{
  
    display: flex;
   
  }

 .Home_Head__emGWQ {
  margin-top: 5px;
}

#index_content{
  margin-top: 5px;
}

}

@media screen and (max-width:600px) {

  #fluid{
    width: 110%;
  }
  #footer{
    width: 110%;

  }
  
}

@media screen and (max-width:500px) {

  #fluid{
    width: 110%;
 
  }
  #footer{
    width: 110%;

  }
  
}
@media screen and (max-width:400px) {

  #fluid{
    width: 140%;
 
  }
  #footer{
    width: 140%;

  }
  
}
@media screen and (max-width:320px) {

  #fluid{
    width: 145%;
 
  }
  #footer{
    width: 145%;

  }
  
}
@media screen and (max-width:360px) {

  #fluid{
    width: 145%;
 
  }
  #footer{
    width: 145%;

  }
  
}
@media screen and (max-width:1200px) {


  
}

.Calendar_tr{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
justify-content: space-between;
margin-bottom: 0px;



}
.Calendar_tr li{
  display:flex ;
  justify-content: center;
list-style: none;
font-size: 12px;
font-weight: 600;
border:1px solid rgb(207, 207, 207);
width: 28px;
color: black;
font-family: 'Poppins', sans-serif;

height: 20px;
background: white;
}
.Calendar_tr li:hover{
  background-color: #9e9393;
  cursor: pointer;
}
.Calendar_tr2 li:hover{
  background-color: #9e9393;
  cursor: pointer;
}

.calendar_main{

}
.Calendar_tr2 li{
font-size: 12px;
font-weight: 600;
  list-style: none;
  border:1px solid rgb(207, 207, 207);
  width: 28px;
  height: 20px;
  font-family: 'Poppins', sans-serif;

background: white;

}
.Calendar_tr2 {
  margin: 0;
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.Calendar_tr2 li a{
color: black;

  text-decoration: none;
  font-family: 600;

}
.Calendar_tr li a{
color: black;

  text-decoration: none;
  font-weight: 600;
}



.calendardate{

  display: grid;
  width: 1rem;
}

.sdp--dates-grid .stp--dates-grid {
  display: grid !important;
  gap: 0px !important;
  grid-template-columns: repeat(7,1fr) !important;
  justify-items: center !important;
  /* margin: 0.5rem 0 0 !important; */
  color: red !important;
  background-color: red !important;
}


/* -------------------------------code end------------------------- */



.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
#bg_1{
   /* background-color: #235789 !important; */
   /* background-color: #235789 !important; */
   background: linear-gradient(to right top, #235789, #2b5f90, #326697, #3a6e9f, #4176a6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
 line-height: 2;
   color: white;
}
#bg_1 h1{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 10px;
}
#bg_1 h1 span{
  font-size: 17px;
  font-weight:700;
}
#bg_1 a{
  /* text-align: center; */
  font-size: 12px;
  border: none;
  font-family: 'Poppins', sans-serif;
}
.a_1{
  text-align: center !important;
  color: #fafafa !important;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
#bg_1 p{
  text-align: center;
}
.a_2{
  text-align: center;
  color: #fafafa !important;
  text-decoration: none;
  font-size: 12px;
  margin: 19px !important;
  font-family: 'Poppins', sans-serif;
}
.input_1::placeholder{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 12px;
  
}
.input_1{
  width: 230px;
  margin-bottom: 6px;
}

/* .react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: #006edc !important;
} */
.a_3{
  text-align: center;
  color: #fafafa !important;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  
}
.a_3 a{
  color: white;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 15px;
  line-height: 2;

}
.a_3 a:hover{
  color: #eaeaea;
}
.banner{
  background-color: #235789 !important;
}
.banner h1{
  text-align: center;
  padding: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
.th_1{
  font-family: 'Poppins', sans-serif;
  padding: 25px;
  font-size: 20px;
}
.header_1 {
  background-color: #F2F2F2;
  vertical-align: bottom;
  /* text-align: center; */
}
.col-space{
  margin: 10px;
}
.header_2 {
  width: 150px;
  background-color: #F2F2F2;
  vertical-align: bottom;
  /* text-align: center; */
}

@media only screen and (max-width: 414px) {
  .banner{
    margin-top: 50px !important;
  }
  .col-sm-5.a2{
    width: 100px !important;
  }
  .t1{
    margin-top: -20px !important;
  }
  .a2{
    padding: none;
  }
}


@media only screen and (max-width: 428px) {
  .banner{
    margin-top: 50px !important;
  }
  .col-sm-5.a2{
    width: 100px !important;
  }
  .t1{
    margin-top: -20px !important;
  }
  .a2{
    padding: none;
  }
}
@media only screen and (max-width: 768px) {
  #bg_1 h1{
    font-size: 20px;
  }
   #bg_1{
    /* width: 40% !important; */
  }
  .input_1{
    width: 130px;
  }
  /* .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    font-size: 12px !important;
  } */
  .a_3 a{
    font-size: 10px;
    margin-left: -15px;
  }
  .col-sm-4 .col_a{
    width: 104.333% !important;
  }
  .col-sm-3 .a1{
    width: 104.333% !important;
  }
}

#home_list01{
  line-height: 2;
}

.sidebarAC{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logoutbtn{
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 6px;
 box-shadow: -50px -50px 0px -30px rgba(0,0,0,0)
 ;
}

.BannerBox Card{

}
.CardIndex{
}

.MainBannerBox{
  padding: 1px;
  margin-bottom: 5px;
}

#slider{
  margin-bottom: 8px;
}
.indexproduct{
  display: flex;
  justify-content: center;
  flex-direction:column;
}
.productImg{
  width: 200px;
  height: 200px;
  position: relative !important;
  right: 50 !important;

 }
.Typography{
    text-align: left !important;
}