#post_sider{
    margin: 0;
    margin-left: 0px;
}
/* ---------------csssider-------- */

  

#body{
  overflow-x: hidden;
}
  
#app{
    padding: 2rem;
    transition: margin-left 2.7s;
    overflow: hidden;
    width: 100%;
  }

#navlist li{
    list-style: none;
    color: white;
  }
  
#ul a{
    text-decoration: none;
  }
  
  #navlist a {
    line-height: 3;
    display: flex;
    color: white;
    text-decoration: none;
  }
  #aside{
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
  }
  
  #navlist {
    font-size: 14px;
    background-color: #235789;
    color: #fff;
    height: 100%;
    width: 240px;
    position: fixed;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    list-style: none;
    transition: 0.7s all ease-in-out;
  }
  
  #opneSidebar {
    transition: 0.7s;
    width: 230px;
  }
  
  #close {
    font-size: 4.3rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
  
  #to_right {
    margin-left: 220px;
    margin-left: 250px;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  .navlist {
    padding: 1rem 3rem;
  }
  .navlist li {
    margin: 1rem 0;
    transition: all 300ms ease-in-out;
  }
  .navlist li a {
    color: #fff;
    font-size: 2rem;
    transition: all 300ms ease-in-out;
  }
  
  .navlist li a:hover {
    color: #2748b4;
    padding: 0.3rem 0.2rem;
    border-bottom: #2748b4 2px solid;
    width: 50%;
  }
#right_side_post input{
  width: 50%;
  cursor: pointer;
  height: 32px;
  border-radius: 6px;
  margin-left: 30px;
}
#right_side_post input:hover{
  border: 2px solid #235789;
}
#icon_input{
    width: 10px;
}
#right_side_post{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#select_option_right_side{
  width: 88px;
  border-radius: 7px;
  height: 26px;
  font-size: 12px;

}
#content_right{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#content_right button{
  border-radius: 8px;
  background-color: #235789;
    width: 100px;
    color: white;
  border: none;
    font-weight: 600;
      font-family: 'Poppins', sans-serif;

} 
#content_right button:hover{
  border-radius: 8px;
  background-color: white ;
    width: 100px;
    color: #235789;
    font-weight: 600;
    font-size: 12px;
      font-family: 'Poppins', sans-serif;

}
#two_btn button{
  font-weight: 600;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
  width: 117px;
  color: white;
  background: #235789;
  height: 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#two_btn button:hover{
   background-color: white;
   color: #235789;

}

#two_btn{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
#content_right span{
    border: 1px solid black !important;
    width: 245px;
    text-align: center;
    border-radius: 7px;
    font-size: 12px;

}
#opneSidebar h4{
    color: white;
}
#icon{
  width: 21px;
  height: 21px;
  color: black; 
  position: relative;
  top: 30px;
    
}
#right_side_post a{
    margin-left: 10px;
    position: relative;
    bottom: 5px;
    text-decoration: none;
    font-size: 12px;
    color: black; 


}
#search_icon{
  width: 21px;
  color: black;  
    
}
#search_div{
  border-radius: 6px;
  margin-left: 15px;
  border: 1PX solid black;
  width: 41px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#search_div:hover{
  border: 2px solid #235789;
}
#line{
  margin-top:65px ;
  border-bottom: 1px solid black;
}

#text{
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


#text span {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #6b93b8;
}

#cityName h1{
  font-size: 24px;
}

/* ---------------------MEDIA QUery------------------------ */

@media screen and (max-width:786px  ) {
  #right_side_post input{
    width: 54%;
    height: 29px;
  
} 
#search_div{
  margin-left: 12px;;
  width: 26px;
  height: 30px;

}
#search_icon{
  width: 18px;
}
#right_side_post a{
  font-size: 12px;

} 
#select_option_right_side{
  width: 70px;
  height: 25px;
  font-size: 14px;

}
#content_right span{
  width: 200px;
 border-bottom: 2px solid black;
}

#text p{
  font-size: 14px;
  margin-bottom: 6px;
 
 }
 #two_btn button{
  width: 130px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.opneSidebar{
  width: 100px;
}
}



@media screen and (max-width:600px) {
  #navlist {
   visibility: collapse;
  }
  #to_right {
margin-left: 0;
  }


}