.Topbar{
    width: 100%;
    height: 50px;
    background-color: #235789 !important;

    position: sticky;
    top: 0;
    z-index: 999;
}
.TopbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Logo{
    font-weight: bold;
    font-size: 30px;
    color: rgb(250, 250, 250);
    cursor: pointer;
}
.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #fff;
}
.topIconBag{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.topRight{
    display: flex;
    align-items: center;    
}
.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#container{
    display:flex;
}

@media screen and (min-width:992px) {
    
}
