.sidebar{
    height:calc(100vh - -25px);
    position: sticky ;
   background-color: #235789 !important;
    top: 0px;
    border-radius: 6px;
    margin-top: 2px;
    -webkit-box-shadow:0px 0px 11px -1px #000000 ;
    box-shadow:0px 0px 11px -1px #000000 ;
    }   
.newSidebar{
   
    max-width: 10px;
    display: none;
    /* background-color: ; */
    }   
.sidebarWrapper{
    padding: 20px;
    color: #555;


}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 16px;
    color: rgb(167, 223, 255);
    font-weight: 600;
}

.sidebarList{
    list-style: none;
    padding: 5px;

}
.sidebarListitem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px; 
    color: white;
}
.sidebarListitem.active, .sidebarListitem:hover{
    background-color: rgb(166, 166, 197);
    color:white;

}

.sidebarIcon{
    margin-right: 5px;
    font-size: 30px !important;
    color: white;
}

.sidebarMenuIcon{
    margin-right: 5px;
    font-size: 30px !important;
    z-index: -1 !important ;
    background-color: "red";
    margin-bottom: 50px;
    color: white;
    /* visibility: hidden; */

}

#MenuBARIcon{
    height:30px;
   background-color: #235789 !important;
    
}

.sidebarListitem a{
    text-decoration: none;
    color: white;

}
.sidebarListitem a:hover{
    color: white;
}


@media screen and (max-width:1400px) {
    .sidebar{
        position: relative;
    }
    .sidebarMenuIcon{
        visibility: visible;
        float: left;
    }
}
@media screen and (max-width:992px) {
    .sidebar{
        position: relative;
    }
    .sidebarMenuIcon{
        visibility: visible;
        float: left;
    }
}

@media screen and (max-width:992px) {
    .sidebar{
        height: calc(100vh - -30px );
        height: calc(100vh - -30px );
    position: absolute;
    top: 87px;
    z-index: 999;



    }
    .sidebarMenuIcon{
        visibility: visible;
        float: left;
    }
    
    
}