.sidebar{
    height:calc(100vh - 50px);
    position: sticky ;
   background-color: #235789 !important;
    top: 0px;
    border-radius: 6px;
    }   
.newSidebar{
   
    max-width: 10px;
    display: none;
    /* background-color: ; */
    }   
.sidebarWrapper{
    padding: 20px;
    color: #555;
    margin-top: 2px;

}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.sidebarList{
    list-style: none;
    padding: 5px;

}
.sidebarListitem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.sidebarListitem.active, .sidebarListitem:hover{
    background-color: rgb(166, 166, 197);

}

.sidebarIcon{
    margin-right: 5px;
    font-size: 30px !important;
    color: white;
}

.sidebarMenuIcon{
    margin-right: 5px;
    font-size: 30px !important;
    background-color: "red";margin-bottom: 50px;

}

@media screen and (max-width:1400px) {
    .sidebar{
        position: relative;
    }
    .sidebarMenuIcon{
        visibility: visible;
        float: left;
    }
}
@media screen and (max-width:576px) {
    .sidebar{
        position: absolute;
        top: 80px;
        visibility: hidden;
    }
    .sidebarMenuIcon{
        visibility: visible;
        float: left;
    }
}