#head_signin{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.body{
    background: #235789;
}
#btn_signin button{
    background: rgb(253, 253, 253);
    height: 30px;
    width: 86px;
      border-radius: 9px;
      font-weight: 600;
}

#btn2:hover{
    background: #235789 !important;
    border-color: white !important;
    font-weight: 600;
    color: white !important;
}

#btn_signin{
    display:flex ;
    width: 15%;
    justify-content:space-between;
}
#btn2 link{
    text-decoration:none !important;  
    color:#235789  !important;
}
.Signin_text img{
    width: 200px;
}
