.global_header{
    background: #235789 ;
    border-bottom: 1px #ccc solid;
    display: block;
    line-height: 1.925em;
    height: 40px;
    padding: 5px;
}
.global_header:before, .global_header:after {
    content: " ";
    display: table;
    visibility: hidden;
}
.header_logo{
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    line-height: 1;
    margin: 0 5px;
    padding: 0.25em;
    text-decoration: none;
}
.global_header  .breadcrumbs_container{
    float: left;
    font-size: 14px;
}
.breadcrumbs_container ul{
    list-style: none;
    display: flex;

}
.global_header.simple .breadcrumbs_container .breadcrumbs .crumb{
    float: left;
    margin-left: 3px;
}
.global_header.simple .breadcrumbs_container .breadcrumbs .crumb p{
    margin:0;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: white;
}
.crumb a{
    font-weight: 600 !important;
    font-size: 14px !important;
     color: white;
    text-decoration: none;
}
.crumb p{
    color: white;
    font-weight: 600 !important;
    font-size: 14px !important; 
}

.simple_page_content {
    max-width: 820px;
}
.simple_page_content a{
    text-decoration: none;
}
.simple_page_content {
    font-family: "Arial",sans-serif;
    margin: 0 auto;
    max-width: 768px;
    min-height: 600px;
    padding: 1em 1em 6em 1em;
}
.resolved_issues {
    margin-top: 1em;
}
.system_status_heading_box{
    margin: 0.67em 0;
    -webkit-box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ddd;
    font-size: 22px;
    line-height: 1;
    margin-top: 0;
    padding: 0.5em;
    text-align: center;
}
.system_status_heading_subtext {
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 4px;
}
.simple_page_content ul{
        list-style-type: disc;
        list-style: none;
}
.issue_list {
    margin: 0;
    padding-left: 0;
}
.issue_title {
    font-size: 20px;
    margin: 0 0 4px 0;
    line-height: 20px;
}
.issue_list li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    list-style: none;
    margin: 1em 1em 0 1em;
    padding: 1em 1em 0 1em;
}

@media screen and (max-width:767px) {
    #row{
        position: absolute;
       
    }
    
}