.global_header{
    background: #235789 ;
    border-bottom: 1px #ccc solid;
    display: block;
    line-height: 1.925em;
    height: 40px;
    padding: 5px;
}
.global_header:before, .global_header:after {
    content: " ";
    display: table;
    visibility: hidden;
}
.header_logo{
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    line-height: 1;
    margin: 0 5px;
    padding: 0.25em;
    text-decoration: none;
}
.global_header  .breadcrumbs_container{
    float: left;
    font-size: 14px;
}
.breadcrumbs_container ul{
    list-style: none;
    display: flex;

}
.global_header.simple .breadcrumbs_container .breadcrumbs .crumb{
    float: left;
    margin-left: 3px;
}
.global_header.simple .breadcrumbs_container .breadcrumbs .crumb p{
    margin:0;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: white;
}
.crumb a{
    font-weight: 600 !important;
    font-size: 14px !important;
     color: white;
    text-decoration: none;
}
.crumb p{
    color: white;
    font-weight: 600 !important;
    font-size: 14px !important; 
}
.simple_page_content {
    font-family: "Arial",sans-serif;
    margin: 0 auto;
    max-width: 768px;
    min-height: 600px;
    padding: 1em 1em 6em 1em;
}
.simple_page_content {
    font-family: "Arial",sans-serif;
    margin: 0 auto;
    max-width: 768px;
    min-height: 600px;
    padding: 1em 1em 6em 1em;
}
.footer {
    height: 30px;
    background: #235789 ;
    display: block;
}
.main_container::after{
    clear: both;
}
.clfooter{
    text-align: center;
    list-style: none;
}
.clfooter li {
    color: white;
    display: inline;
    padding: 0 4px;
    font-size: small;
}
.clfooter li a{
    color: white;
    text-decoration: none;
}
.clfooter li a:hover{
    color: white;
}
.privacy_policy_heading {
    margin-bottom: 1.5em;
}
.pp_table{
    caption-side: bottom;
    border-collapse: collapse;
}
.simple_page_content td {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: inherit;
}
@media only screen and (min-width: 640px){
.simple-page-content .navlinks{
    text-align: left;
    padding-left: 200px;
}
}
