.WidgetLg{
    flex: 2;
    -webkit-box-shadow:0px 0px 11px -1px #000000 ;
    box-shadow:0px 0px 11px -1px #000000 ;
    padding: 20px;
}
.WidgetLgTitle{
    font-size: 22px;
    font-weight: 600;
}
.WidgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}
.WidgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px ;
}

.WidgetLgButton.Approved{
    background-color: #e5faf2 !important;
    color: green;

}
.WidgetLgButton.Declined{
    color: green;
    background-color: red !important;
}
.WidgetLgButton.Pending{
    color: green;
    background-color: #e5faf2 !important;
}
.WidgetLgTable{
  width: 100%;
  border-spacing: 20px;    
}
.WidgetLgTh{
    text-align: left;
}
.WidgetLgUser{
    display: flex !important;
    align-items: center !important;
    font-weight: 600;
}
.WidgetLgDate{

}